@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #333333;
}

.navbar-brand img {
    height: 45px;
}

.nav-link {
    color: #eeeeee;
    font-size: 20px;
}

.nav-link:hover {
    color: #f1c232;
}