@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #333333;
} 

.navbar-brand img {
    height: 45px;
}

.nav-link {
    color: #eeeeee;
    font-size: 20px;
}

.nav-link:hover {
    color: #f1c232;
}

.navbar-toggler {
opacity: 60%;
}

.card-text {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}

.Tendencias {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;    
}

footer {
    background-color: #333333;
    padding: 10px;
    color: #f1c232;
    margin-top: 20px;
}

footer p {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

footer .redes a {
    font-size: 30px;
    text-decoration: none;
    color: #f1c232;
    margin-left: 5px;
    text-align: center;
}

/* ESTILO PAGINA GIFTCARD */

.card-body h3 {
    font-weight: bold;
}

.card-body p {
    font-weight: bold;
}

.card-body button {
    font-weight: bold;
}